<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>main</title>
    <link href="./css/main.css" rel="stylesheet" type="text/css" />
    
    <script src="./js/malt.js">
      
      </script>
      <script src="./slide_plug/bxslider-4-4.2.12/dist/jquery.bxslider.min.js"></script>
     

     
</head>
<body>
<header>
    <div class="util_wrap">
    <ul class="util flex">
        <li><a href="#">로그인</a></li>
        <li><a href="#">회원가입</a></li>
        <li id="search_icon"><a  href="#modal1" rel="modal:open"></a></li>
        
    </ul>

    <div id="modal1" class="modal">
        <input type="search" placeholder="검색어를 입력하세요"/>
        
      </div>
</div>
   
<nav>
    <ul class="gnb flex">
        <li><a href="./index.html">home</a></li>
        <li><a href="#">cocktails</a></li>
        <li><a href="#">knowledge</a>
            <ul class="submenu">
                <li><a href="./sub.html">single malt</a></li>
                <li><a href="#">history</a></li>
               
            </ul>
        </li>
        <li><a href="#">show</a>
            <ul class="submenu">
                <li><a href="#">whisky</a></li>
                <li><a href="#">glasses</a></li>
            </ul>
        </li>
        <li><a href="#">promotion</a>
            <ul class="submenu">
                <li><a href="#">expert blog</a></li>
                <li><a href="#">malt marster</a></li>
                <li><a href="#">recent news</a></li>
            </ul>
        </li>
        <li><a href="./index.html" id="logo"><img src="./images/logo.png" alt="logo"/></a></li>
    </ul>
</nav>

</header>
<div class="container">
<section class="sec01">
    <h2>비주얼배너영역</h2>
    <ul class="bxslider">
        <li><img src="./images/visual_bn01.jpg" alt="slide01"></li>
        <li><img src="./images/visual_bn02.jpg" alt="slide02"></li>
        <li><img src="./images/visual_bn03.jpg" alt="slide03"></li>
        
      </ul>
</section>
<section class="sec02">
    <h2> 프리미엄상품영역</h2>
    <div>
        <ul class="premium flex">
            <li>
                <figure>
                <a href="#">
                <img src="./images/premium_bn01.jpg" alt="prbn01"/></a>
                <figcaption>Glenfiddich 50Y 70CL<br/>£ 24,000.00</figcaption>
            </figure>
         </li>
           
            <li>
                <figure>
                <a href="#">
                <img src="./images/premium_bn02.jpg" alt="prbn02"/></a>
                <figcaption>Glenfiddich 50Y 70CL<br/>£ 24,000.00</figcaption>
            </figure>
         </li>
           
            <li>
                <figure>
                <a href="#">
                <img src="./images/premium_bn03.jpg" alt="prbn03"/></a>
                <figcaption>Glenfiddich 50Y 70CL<br/>£ 24,000.00</figcaption>
            </figure>
         </li>
           
            <li>
                <figure>
                <a href="#">
                <img src="./images/premium_bn04.jpg" alt="prbn04"/></a>
                <figcaption>Glenfiddich 50Y 70CL<br/>£ 24,000.00</figcaption>
            </figure>
         </li>
           
            
        </ul>

                

    </div>
</section>

<section class="sec03">
    <h2>macallan리스트</h2>
    <h3>MACALLAN</h3>
    <img src="./images/macallan.jpg" alt="macallan"/>

    <ul class="macallan_pr flex">
        <li>
            <dl>
                <dt><a href="#"><img src="./images/product_01.jpg" alt="product_01"/></a></dt>
                <dd>THE MACALLAN RUBY 70CL </dd>
                <dd>£ 225.00</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><a href="#"><img src="./images/product_01.jpg" alt="product_01"/></a></dt>
                <dd>THE MACALLAN RUBY 70CL </dd>
                <dd>£ 225.00</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><a href="#"><img src="./images/product_01.jpg" alt="product_01"/></a></dt>
                <dd>THE MACALLAN RUBY 70CL </dd>
                <dd>£ 225.00</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><a href="#"><img src="./images/product_01.jpg" alt="product_01"/></a></dt>
                <dd>THE MACALLAN RUBY 70CL </dd>
                <dd>£ 225.00</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><a href="#"><img src="./images/product_01.jpg" alt="product_01"/></a></dt>
                <dd>THE MACALLAN RUBY 70CL </dd>
                <dd>£ 225.00</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt><a href="#"><img src="./images/product_01.jpg" alt="product_01"/></a></dt>
                <dd>THE MACALLAN RUBY 70CL </dd>
                <dd>£ 225.00</dd>
            </dl>
        </li>
    </ul>
</section>

<section class="sec04">
    <h2>glemorangie리스트</h2>
    <h3>GLEMORANGIE</h3>
    <img src="./images/glenmorangie.jpg" alt="glemorangie"/>

    <ul class="glenmorangie_pr flex">
       <li>
        <dl>
            <dt><a href="#"><img src="./images/product_02.jpg" alt="product_02"/></a></dt>
            <dd>GLENMORANGIE SIGNET</dd>
            <dd>£ 153.58</dd>
           
        </dl>
       </li> 
       <li>
        <dl>
            <dt><a href="#"><img src="./images/product_02.jpg" alt="product_02"/></a></dt>
            <dd>GLENMORANGIE SIGNET</dd>
            <dd>£ 153.58</dd>
           
        </dl>
       </li> 
       <li>
        <dl>
            <dt><a href="#"><img src="./images/product_02.jpg" alt="product_02"/></a></dt>
            <dd>GLENMORANGIE SIGNET</dd>
            <dd>£ 153.58</dd>
           
        </dl>
       </li> 
       <li>
        <dl>
            <dt><a href="#"><img src="./images/product_02.jpg" alt="product_02"/></a></dt>
            <dd>GLENMORANGIE SIGNET</dd>
            <dd>£ 153.58</dd>
           
        </dl>
       </li> 
       <li>
        <dl>
            <dt><a href="#"><img src="./images/product_02.jpg" alt="product_02"/></a></dt>
            <dd>GLENMORANGIE SIGNET</dd>
            <dd>£ 153.58</dd>
           
        </dl>
       </li> 
       <li>
        <dl>
            <dt><a href="#"><img src="./images/product_02.jpg" alt="product_02"/></a></dt>
            <dd>GLENMORANGIE SIGNET</dd>
            <dd>£ 153.58</dd>
           
        </dl>
       </li> 
    </ul>
</section>
</div>
<footer>
    <div class="foot_wrap flex">
    <ul class="foot_menu01">
        <li><a href="#"> COMPANY</a></li>
        <li><a href="#"> THE STORY</a></li>
        <li><a href="#"> CONTACT US</a></li>
        <li><a href="#"> FAQ</a></li>
    </ul>

    <ul class="foot_menu02">
        <li><a href="#">PRIVACY&COOKIE POLICY
        </a></li>
        
        <li><a href="#">TERMS&CONDITIONS

        </a></li>
        
        <li><a href="#">SHOPPING
        </a></li>
        
    </ul>

    <ul class="foot_menu03">
        <li>FOLLOW US
            <ul class="sns_icon">
                <li><a href="#">facebook</a></li>
                <li><a href="#">twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">youtube</a></li>
            </ul>
        </li>
    </ul>

    <p> Copyrightⓒ 2020 SMW. all right reserved.</p>
</div>

</footer>


</body>
</html>