<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<title>NEW</title>
<link href="./main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
<nav id="top_menu" class="hd">
<ul>
	<li><a href="#">로그인</a></li>
	<li><a href="#">회원가입</a></li>
	<li><a href="#">마이페이지</a></li>
</ul>
</nav>

<h1 id="logo" class="hd"><a href="#"><img src="../images/logo.svg" alt="logo" /></a></h1>

<nav class="hd">
<ul  id="gnb">
	<li><a href="#">BRAND</a></li>
	<li><a href="#">PRODUCT</a></li>
	<li><a href="#">TIP</a></li>
	<li><a href="#">COMMUNITY</a></li>
</ul>

</nav>
</header>

<section id="main" class="hd">
	<h2>BRAND</h2>

<ul id="subgnb">
	<li><a href="#">브랜드 스토리</a></li>
	<li><a href="#">소식</a></li>
	<li><a href="#">활동</a></li>

</ul>

<div id="submain">
	<h3>PEACH PIT</h3>
	<h4>피치핏, 복숭아의 느낌 그대로</h4>
	<p class="line">&nbsp;</p>
	
</div>

<div id="visual_">


</div>




<div>
	<p>PEACH PIT<br/>
	PRUNUS PERSICA FRUIT EXTRACT
	</p>
	<p>PEACH PIT은 복숭아 추출물을 주원료로 한 브랜드입니다
	복숭아 추출물은 체내 흡수가 빠른 당류, 비타민 등이 풍부하며
	피부에 풍부한 수분 공급과 피부 피로 회복에 도움이 됩니다
	어두운 피부 톤 맑게 관리할 수 있으며 미백 효과에 탁월합니다</p>
	<p class="peachtxt">피부 겉과 속을 동시에 가꾸어주는 제품</p>
	<p class="line">&nbsp;</p>

</div>
</section>

<section id="sub" class="hd">
<h2>소개</h2>

<div class="sub_contents">
<p class="peachtxt">오직 자연 재료 그대로</p>
<p class="line">&nbsp;</p>
<p>우리는 자연 재료 그대로에 가까운 상태로 제품을
만드는 것을 목표로 합니다.
</p>
</div>
<div class="sub_bg">
<p>sub_bg1</p>
</div>

<div class="sub_contents">
<p class="peachtxt">자연의 선물</p>
<p class="line">&nbsp;</p>
<p>누구나 우리 제품과 브랜드를 통해 자연의 선물을
누리게 할 수 있도록 하겠습니다.
</p>
</div>
<div class="sub_bg">
<p>sub_bg2</p>
</div>

<div class="sub_contents">
<p class="peachtxt">믿을 수 있는 제품 </p>
<p class="line">&nbsp;</p>
<p>피치핏은 아름다움은 물론,  그 이상의 건강한
라이플 스타일을 만듭니다.
</p>
</div>
<div class="sub_bg">
<p>sub_bg3</p>
</div>

<div id="icon_bg">
<ul>
	<li><a href="#"><img src="../images/icon01.png"/></a></li>
	<li><a href="#"><img src="../images/icon02.png"/></a></li>
	<li><a href="#"><img src="../images/icon03.png"/></a></li>
	
</ul>
</div>



</section>

<footer>
<div id="foot_menu">
	<ul>
		<li><a href="#">이용약관</a></li>
		<li><a href="#">개인정보취급방침</a></li>
		<li><a href="#">채용정보</a></li>
	
	
	</ul>

	<ul>
		<li><a href="#">고객센터</a></li>
		<li><a href="#">공지사항</a></li>
		<li><a href="#">멤버십</a></li>
		<li><a href="#">마이페이지</a></li>
	</ul>

</div>
<div id="foot_bottom">
	<div id="foot_bot_left">
	<h2><a href="#">logo</a></h2>
	<address>인천 광역시 서구 서곶로 543 피치핏<br>
	COPYRIGHT C PEACH FIT.CO.LTD. ALL RIGHTS RESERVED
	</address>
	</div>

<div id="foot_bot_right">
	<p>080-321-6543</p>
	<p>업무시간 | 10:00 - 17:00(점심시간 |
		13:00 - 14:00)<br/>휴무 | 
		토요일,일요일,공휴일</p>
	
</div>




</footer>




</body>
</html>