<!DOCTYPE HTML>
<html lang="ko">
<head>	
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content=""/>
	<meta charset="utf-8" />
	<title> new </title>
	<link href="./css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<h2>헤더영역</h2>
	<nav id="utilwrap">
		
		<ul>
			<li><a href="#">로그인</a></li>
			<li><a href="#">회원가입</a></li>
			<li><a href="#">KOREAN</a></li>
			
		</ul>
	</nav>
	<nav id="gnb">
		<h1 id="logo"><a href="#"><img src="./images/logo_copy.png"></a></h1>
		<ul>
			<li><a href="#">한국현대문학</a></li>
			<li><a href="#">이용안내</a></li>
			<li><a href="#">전시/행사</a></li>
			<li><a href="#">자료실</a></li>
			<li><a href="#">발간자료</a></li>
			<li><a href="#">기증품</a></li>
			<li><a href="#">참여마당</a></li>
		</ul>
	</nav>
	</header>
<div id="container">

<section id="contents">
<h2>컨텐츠 영역</h2>
<div class="box">
	<div class="box_con1">
		<a href="#">
		<h3>'문화가 있는 날' 프로그램</h3>
		<p>2022. 7. 1. 금요일 18:00 ~<br/>
		한국 현대 문학관</p> </a>
	</div>
</div>
<div>
	<div class="inner_sbox">
		
			<div id="author_head" class="head">
				<a href="#"><h3>오늘의 작가</h3></a>
				<a href="#">더보기 +</a>
			</div>

			<div id="author">
				<div>
					<a href="#">김말봉</a>
					<a href="#">경남밀양 출생<br/>
						1935년 「동아일보」에 장편소설 「밀림」을 발표하고 「조선일보」에 「찔레꽃」을 연재하면서 각광을 받기 시작 했다.</a>
				</div>
				
			
					<a href="#">
						

					</a>

				


			</div>
			
		


	</div>
	<div class="inner_sbox m_zero">
		<div id="magazine_head" class="head">
			<a href="#"><h3>소문예지</h3></a>
			<a href="#">더보기 +</a>
		</div>
		<div id="magazine">
			<a href="#"><figure>
				<img src="./images/소문예지.jpg"/>
				<img src="./images/소문예지2.jpg"/>
				<figcaption>[문학관] 80호 - 다시 읽는 윤동주 시집</figcaption>
			</figure>
			</a>
		
		</div>
		
</div>
</div>
<div id="founder">
	<div class="head">
	<a href="#"><h3>설립자 전숙희선생님</h3></a>
	<a href="#">더보기 +</a>
	</div>
	<a></a>
</div>
<div>
	<div id="event" class="inner_mbox">
		<div class="head">
			<a href="#"><h3>행사 · 이벤트</h3></a>
			<a href="#">더보기 +</a>
		</div>

		<ul>
			<li><a href="#"> 3월, '문화가 있는 날' 프로그램</a></li>
			<li><a href="#">'제9회 전숙희문학상' 시상식에 초대합니다</a></li>
			<li><a href="#">[특성화 프로그램]</a></li>
			<li><a href="#">'문학의 숲에서 놀자' 안내 및 체험안내</a></li>
			<li><a href="#">[1900~1950 두근두근 문학탐험]</a></li>
			<li><a href="#">문화가 있는 날-컬러링아트 체험</a></li>
			<li><a href="#">[북아트 체험 키트 안내]	</a></li>
			<li><a href="#">원격수업을 위한 폴드북 키트 안내!	</a></li>
		</ul>
	</div>
	<div id="coo" class="inner_sbox m_zero">
	<div class="head">
		<a href="#"><h3>제휴사이트</h3></a>
		<a href="#">더보기 +</a>
	</div>
	<a href="#"><img src="./images/tex.jpg" alt="tex"/></a>
	</div>
</div>
<div id="exhibit_head">
	<div class="head">
		<a href="#"><h3>전시 안내</h3></a>
		<a href="#">더보기 +</a>
	</div>
	<div id="exhibit">
		<a href="#">
			<figure>
			<img src="./images/전시1.jpg" alt="전시1" />
			<figcaption>종합전시관</figcaption>
			</figure>
		</a>
		<a href="#">
			<figure>
			<img src="./images/전시2.jpg" alt="전시2" />
			<figcaption>중앙전시관</figcaption>
			</figure>
		</a>
		<a href="#">
			<figure>
			<img src="./images/전시3.jpg" alt="전시3" />
			<figcaption>주요 시인 전시관</figcaption>
			</figure>
		</a>

	</div>
</div>
<div>
	<div id="collect" class="inner_sbox">
		<div class="head">
		<a href="#"><h3>소장 자료</h3></a>
		<a href="#">더보기 +</a>
		</div>
		
			<a href="#"><img src="./images/갯마을.jpg" alt="갯마을" /></a>
			<dl>
				<dt>갯마을</dt>
				<dd>ㆍ작가 : 오영수</dd>
				<dd>ㆍ출판년도 : 1957</dd>
				<dd>ㆍ출판사 : 중앙사</dd>
				<dd>ㆍ구분 : 소설</dd>
			</dl>
		
	</div>
	<div id="donate" class="inner_sbox">
		<div class="head">
			<a href="#"><h3>기증품</h3></a>
			<a href="#">더보기 +</a>
		</div>
			<a href="#"><img src="./images/달나라.jpg" alt="달나라" /></a>
			<dl>
				<dt>달나라의 장난</dt>
				<dd>ㆍ작가 : 김수영</dd>
				<dd>ㆍ출판년도 : 1959</dd>
				<dd>ㆍ출판사 : 춘조사</dd>
				<dd>ㆍ구분 : 시집</dd>
			</dl>
	</div>
	<div id="visit" class="inner_sbox m_zero">
		<a href="#">문학관을 찾은 사람들</a>
		<a href="#">
			<figure>
				<img src="./images/참여자.jpg" alt="참여자"/>
				<figcaption>두근 두근 문학탐험 참여</figcaption>

			</figure>


		</a>
	</div>
</div>
<div>
	<div class="inner_mbox" id="location">
		<div class="head">
			<a href="#"><h3>오시는 길</h3></a>
			<a href="#">더보기 +</a>
		</div>
		
			<figure>
				<a href="#"><img src="./images/오는길.jpg" alt="오시는길"/></a>
				<figcaption>
					<h3>오시는 길</h3>

					<p>
						<strong>이용 안내</strong>
							관람문의 02.2277.4857~8<br/>
							월~금 : 10:00~17:00<br/>
							토: 10:00~12:00 <br/>
							(예약자가 있는 경우 개관)<br/>
							일요일 휴관

					</p>

				</figcaption>
			</figure>
			

		
	</div>
	<div class="inner_sbox m_zero" id="notice">
		<div class="head">
			<a href="#"><h3>공지사항</h3></a>
			<a href="#">더보기 +</a>
		</div>
	<article>
		<h3>[휴관안내]</h3>
		<ul>
			<li><a href="#">ㆍ 8월 12일부터 18일까지 시설물 
				점검으로 휴관합니다!</a></li>
			<li><a href="#">ㆍ 전시관 리뉴얼 공사로 3~4월까지
				휴관합니다.</a></li>
		</ul>
		<h3><a href="#"></a>[개관안내]</a></h3>
		<ul>
			<li><a href="#">ㆍ 철저한 방역 하에 7월 1일부터 
				관람 가능합니다!</a></li>
		</ul>
	</article>
	</div>
</div>
</section>

</div>
<footer>
<div class="footer">
	<ul id="footer_util">
		<li><a href="#">개인정보취급방침 |</a></li>
		<li><a href="#">사이트맵 |</a></li>
		<li><a href="#">고객센터</a></li>
	</ul>
	<ul id="footer_addr"> 
		<li><a href="#"><img src="./images/logo_copy.png" alt="logo"/></a></li>
		<li><address>
			copyright(c) 2021 Kmlm.or.kr All right reserved.<br/>
			서울특별시 중구 동호로 268 파라다이스 빌딩 별관 한국현대문학관

		</address></li>


	</ul>


</div>


</footer>
</body>
</html>