<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<title>NEW</title>
<link href="./css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
<div class="gnb_bg">
	<h1 id="main_logo"><a href="#"><img src="./images/logo.png" alt="logo" /></a></h1>
	<ul id="gnb">
		<li><a href="#"><img src="./images/menu01.png" alt="menu01" /></a></li>
		<li><a href="#"><img src="./images/menu02.png" alt="menu02" /></a></li>
		<li><a href="#"><img src="./images/menu03.png" alt="menu03" /></a></li>
		<li><a href="#"><img src="./images/menu04.png" alt="menu04" /></a></li>
	
	</ul>
	<p><a href="#"><img src="./images/contact-us.png" alt="contact-us" /></a></p>
</div>
</header>
<section id="main">
	<div id="visual">
	<h2><a href="#"><img src="./images/main_img.jpg" alt="main" /></a></h2>
	<a href="#">이전</a>
	<a href="#">다음</a>
	</div>
	
	
	<ul class="contents">
		<li>
			<a href="#">
				<dl>
					<dt>Recruit</dt>
					<dd>삼성코닝어드밴스드글라스와<br/>
				함께 할 인재를 기다립니다.</dd>
				</dl>
			</a>
		</li>
		
		<li>
			<a href="#">
				<dl>
					<dt>Contact Us</dt>
					<dd>Network place<br/>
				information</dd>
				</dl>
			</a>
		</li>
		
		<li>
			<a href="#">
				<dl>
					<dt>Company</dt>
					<dd>삼성코닝어드밴스드글라스를<br/>
				소개합니다.</dd>
				</dl>
			</a>
		</li>
	</ul>
	
</section>




<footer id="footer">

<h2><a href="#"><img src="./images/foot-logo.png" alt="foot_logo" /></a></h2>
	<div id="foot_util">
	<ul>
		<li><a href="#">고객지원</a></li>
		<li><a href="#">개인정보 취급방침</a></li>
		<li><a href="#">관리자에게 문의</a></li>
		<li><a href="#">사이버감사</a></li>
	
	</ul>

	<p id="copyright">	
	COPYRIGHT (C) 2019 SAMSUNG CORNING ADVANCED GLASS. ALL RIGHTS RESERVED.
	</p>
	</div>
</footer>








</body>
</html>