<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>new</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>

<nav>
    <h2>네비게이션</h2>
<a id="logo" href="#"><img src="./images/logo.gif" alt="logo"/></a>

<ul class="gnb clear">
    <li><a href="#">STORY</a></li>
    <li><a href="#">PRODUCT</a></li>
    <li><a href="#">COMMUNITY</a></li>
    <li><a href="#">회원가입</a></li>
    <li><a href="#">로그인</a></li>
    <li><a href="#">마이페이지</a></li>
    <li><a href="#">멤버십</a></li>
    <li><a href="#">고객센터</a></li>
    <li><a href="#"><img src="./images/btn_fb.gif" alt="btn_fb"/></a></li>
    <li><a href="#"><img src="./images/btn_shop.gif" alt="btn_shop"/></a></li>


</ul>


</nav>
</header>

<section id="contents">
<h2>콘텐츠 부분</h2>
<div class="bnr">
    <ul class="bnr_con">
        <li><img src="./images/bnr_1.png" alt="bnr_1"/></li>
        <li><img src="./images/bnr_2.png" alt="bnr_2"/></li>
        <li><a href="#"><img src="./images/bnr_btn.gif" alt="bnr_btn"/></a></li>


    </ul>



</div>

<article class="b_story">
<h3>브랜드스토리</h3>

<figure class="top_img01">
 <img src="./images/top_img1.jpg">

 <figcaption>
    <a href="#">
        Re:starter Beauty College
    </a>
    <a href="#">
        뷰티컬리지 선정자 총 220만원 상당의 스킨케어 + 재취업 관련 교육 프로그램을 제공
    </a>
</figcaption>


</figure>
<figure class="top_img02">
 <img src="./images/top_img2.jpg">

 <figcaption>
    <a href="#">
       Club Re:NK 멤버십 혜택
    </a>
    <a href="#">
        Re:NK 고객님을 위해 마련된 아름답고 특별한 혜택. Club ReNK로 초대합니다. 
    </a>
</figcaption>


</figure>
<figure class="top_img03 clear">
 <img src="./images/top_img3.jpg">


 <figcaption>
  <ul class="top_cap3">
    <li class="headding"><img  src="./images/top_img4.gif" alt="top_img4"/></li>
    <li><a href="#">Re:NK 브랜드 스토리</a></li>
    <li><a href="#">Re:NK만의 새로운 뷰티 테크놀로지 이야기가 시작됩니다. Re:NK 셀 테크놀로지로 당신의 피부 셀 에너지를 올려보세요.</a></li>
    <li><a href="#">더보기 >></a></li>

  </ul>
</figcaption>


</figure>


</article>

<article class="event">
<h2>이벤트</h2>
<ul class="event_text">
    <li class="headding"><img  src="./images/bottom_img1.gif" alt="bottom_img1"/></li>
    <li><a href="#">Re:NK 이벤트</a></li>
    <li><a href="#">Re:NK에서 진행되는 이벤트에 참여해 주세요. 다양한 상품과 행사를 통해 특별한 혜택을 드립니다.</a></li>
    <li><a href="#">더보기>></a></li>

</ul>

<figure class="clear">
<a href="#"><img src="./images/bottom_img2.jpg" alt="bottom_img2"/></a>
<a href="#"><img src="./images/bottom_img3.jpg" alt="bottom_img3"/></a>
<a href="#"><img src="./images/bottom_img4.jpg" alt="bottom_img4"/></a>

</figure>



</article>

<div class="under_menu">
<a href="#">Menu∨</a>

</div>
</section>

<footer>
<address>
<p><span>고객서비스센터 080-200-5100</span>(상담시간 평일 09:00~18:00, 주말/국공\휴일상담불가)</p>
<p>서울시 중구 서소문로 88 중앙일보빌딩 11층~17층 충남 공주시 유구읍 유구마곡사로 136-23</p>
<p>코웨이 주식회사 대표이사 김동현 사업자등록번호 307-81-06054</p>
<p>통신판매신고 제20050-21호 [<a href="#">사업자 정보확인</a>]</p>
<p>COPYRIGHT COWAY CO. LTD ALL RIGHT RESERVED.</p>    
</address>

<div class="foot_right">

    <a href="#"><img src="./images/wa.png" alt="wa"/></a>
<ul class="foot_util clear">
<li><a href="#">개인정보취급방침</a></li>
<li>:</li>
<li><a href="#">개인정보처리방침</a></li>
<li>:</li>
<li><a href="#">이용약관</a></li>
<li>:</li>
<li><a href="#">이메일무단수집거부</a></li>

</ul>



<figure class="clear">

<a href="#"><img src="./images/btn_foot01.gif" alt="btn_foot01"/></a>
<a href="#"><img src="./images/btn_foot02.gif" alt="btn_foot02"/></a>

</figure>
</div>
</footer>
</body>
</html>