<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>theventi</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="./js/br_main.js"></script>
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/jquery-ui.min.js"></script>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header class="header">
      <div class="gnb_bg">
        <h1 id="logo">
          <a href="#"><img src="./images/logo.png" alt="logo" /></a>
        </h1>
        <div class="ham" >
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav>
          <ul class="gnb clear">
            <li><a href="#">BRAND</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">STORE</a></li>
            <li><a href="#">MEMBERSHIP</a></li>
            <li><a href="#">COMMUNITY</a></li>
          </ul>


          <ul class="m_gnb">
            <li><a href="#">BRAND</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">STORE</a></li>
            <li><a href="#">MEMBERSHIP</a></li>
            <li><a href="#">COMMUNITY</a></li>
          </ul>
        </nav>
        <a class="link_icon01" href="#"
          >프랜차이즈 <img src="./images/logo-icon.png" alt="logo_icon"
        /></a>
      </div>

      <div class="header_bg">
        <p>MENU</p>
        <p>
          좋은 커피와 맛있는 음료를 합리적인 가격에 제공해드리는 우리는
          "더벤티"입니다
        </p>
      </div>
    </header>
    <section class="contents">
      <h2>컨텐츠</h2>
      <ul class="con_tab clear">
        <li><a href="#">더벤티 커피이야기</a></li>
        <li><a href="#">신메뉴</a></li>
        <li><a href="#">전체메뉴</a></li>
      </ul>
      <hr id="con_tab_line" />
      <ul class="menu_tab clear">
        <li><a href="#">신메뉴</a></li>
        <li><a href="#">커피</a></li>
        <li><a href="#">베버리지</a></li>
        <li><a href="#">아이스 블랜디드</a></li>
        <li><a href="#">주스/에이드</a></li>
        <li><a href="#">버블티/티</a></li>
        <li><a href="#">사이드 메뉴</a></li>
        <li><a href="#">쿠키(스낵)/RTD</a></li>
      </ul>

      <div class="item_list_bg">
        <ul class="item_list">
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink01.jpg" alt="drink01" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">흑설탕 버블티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink02.jpg" alt="drink02" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">타로 버블티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink03.jpg" alt="drink03" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">로얄밀크티 버블티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink04.jpg" alt="drink04" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">애플망고 요구르탱</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink05.jpg" alt="drink05" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">딸기 요구르탱</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink06.jpg" alt="drink06" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">청포도 요구르탱</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink07.jpg" alt="drink07" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">허니 유자티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink08.jpg" alt="drink8" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">허니 자몽티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink09.jpg" alt="drink9" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">허니 레몬티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink10.jpg" alt="drink10" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">복숭아 아이스티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink11.jpg" alt="drink11" />
              </a>
              <figcaption>
                <div><span class="ice"></span></div>
                <a href="#">더벤티 사이즈 복숭아 아이스티(32oz)</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink12.jpg" alt="drink12" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">애플티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink13.jpg" alt="drink13" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">애플유자티</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink14.jpg" alt="drink14" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">페퍼민트</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink15.jpg" alt="drink15" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">캐모마일</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
          <li>
            <figure>
              <a href="#">
                <img src="./images/drink16.jpg" alt="drink16" />
              </a>
              <figcaption>
                <div><span class="hot"></span><span class="ice"></span></div>
                <a href="#">블랙퍼스트</a>
              </figcaption>
            </figure>
            <p>BEST</p>
          </li>
        </ul>
      </div>
    </section>

    <footer class="footer">
      <a id="footer_logo" href="#"
        ><img src="./images/footer_logo.png" alt="footer_logo"
      /></a>

      <ul class="footer_util">
        <li><a href="#">더벤티 소개</a></li>
        <li><a href="#">제휴/제안</a></li>
        <li><a href="#">고객상담</a></li>
        <li><a href="#">개인정보 처리방침</a></li>
        <li><a href="#">이용약관</a></li>
      </ul>

      <ul class="sns_icon clear">
        <li>
          <a href="#"
            ><img src="./images/f_youtube.png" alt="youtube_icon"
          /></a>
        </li>
        <li>
          <a href="#"><img src="./images/f_insta.png" alt="insta_icon" /></a>
        </li>
        <li>
          <a href="#"
            ><img src="./images/f_facebook.png" alt="facebook_icon"
          /></a>
        </li>
        <li>
          <a href="#"><img src="./images/f_blog.png" alt="blog_icon" /></a>
        </li>
      </ul>

      <hr class="footer_line" />

      <div class="tel">
        <p>가맹문의 <span>1661-4553</span></p>
        <p>고객센터 <span>1644-0513</span></p>
      </div>

      <address>
        <strong>더벤티코리아 부산</strong>
        <p>부산광역시 해운대구 센텀서로 30. 2507호(KNN타워)</p>
        <strong>더벤티코리아 서울</strong>
        <p>서울특별시 구로구 디지털로 33길 27 408~414호</p>
        <p>
          (주)에스앤씨세인 사업자번호:534-88-00122 대표이사: 박수암 강삼남
          최준경
        </p>
        <p>Copyright © THEVENTI. All right Reserved Created By Masstige</p>
      </address>

      <a class="link_icon02" href="#"
        >인트로<img src="./images/logo-icon.png" alt="logo_icon"
      /></a>
    </footer>

    <script>
      $(document).ready(function () {
        $(".ham").click(function () {
          $(".m_gnb").toggle();
        });
      });
    </script>
  </body>
</html>
