<!DOCTYPE HTML>
<html lang="ko">
<head>	
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximun-scale=1, user-scalable=yes"/>
	<meta charset="utf-8" />
	<title> 하늘보리 </title>
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="header clear">
<h1 class="logo"><a href="#"><img src="./images/logo.svg" alt="로고" /></a></h1>
<nav>
	<ul class="gnb clear" id="gnb">
		<li><a href="#">HOME</a></li>
		<li><a href="#">ABOUT</a></li>
		<li><a href="#">PHOTO</a></li>
		<li><a href="#">CONTACT</a></li>
		<li><a href="#">LOCATION</a></li>
	</ul>
	<span class="menu" id="menu_btn">
		<span></span>
		<span></span>
		<span></span>
	</span>
</nav>
</header>
<section class="slider">
<h2>비주얼 배너 영역</h2>
	<img src="./images/banner.jpg" alt="비주얼 배너"/>
</section>
<section class="content">
<h2>모든 컨텐츠 영역</h2>
	<section class="about_section">
		<div class="container clear">
			<h3 class="sec_title">ABOUT</h3>
			<p class="desc">쌀은 익으면 고개를 숙이지만 보리는 익을수록 하늘을 바라봅니다.  우리땅에서 자란 100% 국산 곡물로 만들어 더욱 깨끗하고 순수한 차(茶) 음료입니다. <wbr/>하늘보리는 '하늘을 바라보는 보리‘ 라는 자연 그대로의 섭리를 담아 지어진 웅진식품의 대표적인 곡물음료 브랜드입니다.</p>
		</div>
	</section>
	<section class="icon_section">
		<h2>아이콘 영역</h2>
		<div class="container clear">
			<ul class="icon_list">
				<li>
				<a href="#">
					<img src="./images/icon01.png" alt="아이콘1"/>
					<h3>PHOTO</h3>
					<p>웅진 식품의 대표 차 음료<br/>하늘 보리의 멋진 모습을 만나보세요.</p>
				</a>
				</li>
				<li>
				<a href="#">
					<img src="./images/icon02.png" alt="아이콘2"/>
					<h3>REVIEW</h3>
					<p>고객이 직접 작성해주신
						소중한<br/> 제품 리뷰를 만나보세요!</p>
				</a>
				</li>
				<li>
				<a href="#">
					<img src="./images/icon03.png" alt="아이콘3"/>
					<h3>CONTACT</h3>
					<p>대표번호 : 02-3668-9114
					<br/>고객센터 : 080-766-6543 </p>
				</a>
				</li>
				<li>
				<a href="#">
					<img src="./images/icon04.png" alt="아이콘4"/>
					<h3>LOCATION</h3>
					<p>찾아오시는 길</p>
				</a>
				</li>
			</ul>
		</div>
	</section>
	<hr class="divider"/>
	<section class="photo_section clear">
		<h3 class="sec_title container">PHOTO</h3>
		<ul class="photo_list">
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img01.jpg" alt="photo1" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img02.jpg" alt="photo2" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img03.jpg" alt="photo3" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img04.jpg" alt="photo4" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img05.jpg" alt="photo5" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img06.jpg" alt="photo6" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img07.jpg" alt="photo7" />
			</a>
			</li>
			<li>
			<a href="#">
				<div class="info">
					<h4>PHOTO TITLE</h4>
					<span>눈에 얼음이 뛰노는 위하여서. 것은 그들의 하는 커다란 있는가? 인간의 얼마나 천지는 청춘 남는 얼음에 황금시대다.</span>
				</div>
				<img src="./images/img08.jpg" alt="photo8" />
			</a>
			</li>
		</ul>
	</section>
	<hr class="m_divider"/>
	<section class="review_section">
		<div class="container clear">
			<h3 class="sec_title">REVIEW</h3>
			<ul class="review_list clear">
				<li>
				<a href="#">
					<img src="./images/blog_img01.jpg" alt="REVIEW1"/>
					<time>2022-03-45</time>
					<p>시원한 열두보리 하늘보리와 함께~ </p>
				</a>
				</li>
				<li>
				<a href="#">
					<img src="./images/blog_img02.jpg" alt="REVIEW2"/>
					<time>2022-02-25</time>
					<p>아기가 참 좋아해요.</p>
				</a>
				</li>
				<li>
				<a href="#">
					<img src="./images/blog_img03.jpg" alt="REVIEW3"/>
					<time>2021-12-25</time>
					<p>1.5L 제품 가성비가 좋아요!</p>
				</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="contact_section">
		<div class="container clear">
			<h3 class="sec_title">CONTACT</h3>
			<div class="form_box">
			<form method="post" action="">
				<div class="form_wrap">
					<input type="text" placeholder="name" />
					<input type="text" placeholder="phone" />
					<input type="text" placeholder="email" />
				</div>
				<div class="text_wrap clear">
					<textarea placeholder="message"></textarea>
				</div>
				<div class="btn_wrap">
					<button>S E N D</button>
				</div>
			</form>
			</div>
		</div>
	</section>
	<section class="location_section">
		<h3 class="sec_title container">LOCATION</h3>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.3373460921443!2d126.98135815114195!3d37.57067327969795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2e91d13ff53%3A0xc469a3d68709e3af!2z7JuF7KeE7Iud7ZKIIOuzuOyCrA!5e0!3m2!1sko!2skr!4v1661412920427!5m2!1sko!2skr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
</section>

<footer>
	<div class="footer_logo">
		<img src="./images/logo.svg" alt="하단로고"/>
	</div>
	<p class="copyright">
		copyright &copy; 2021 <strong>한국 야쿠르트</strong>
	</p>
</footer>
<script>
var menu = document.getElementById("menu_btn");
var gnb =  document.getElementById("gnb");
gnb.setAttribute("style","display:none");
menu.onclick = function(){
	if(gnb.style.display == "none"){
		gnb.style.display ="block";
	}else{
		gnb.style.display = "none";
	}
}
</script>
</body>
</html>